<div class="home-container">
  <h2>Find Mess, Hostel & Library</h2>

  <div class="search-box">
    <select>
      <option value="">Select City</option>
      <option>Pune</option>
      <option>Mumbai</option>
      <option>Nagpur</option>
    </select>

    <select>
      <option value="">Select Area</option>
      <option>Hinjewadi</option>
      <option>Baner</option>
      <option>Andheri</option>
    </select>

    <button>Search</button>
  </div>
</div>
<button (click)="login('student')">Login as Student</button>
<button (click)="login('owner')">Login as Owner</button>
