<!-- <h2>Available Listings</h2>

<div class="list-grid">
  <app-listing-card
    title="Shree Mess"
    type="Mess"
    [price]="2500"
    status="Open"
  ></app-listing-card>

  <app-listing-card
    title="Sai Hostel"
    type="Hostel"
    [price]="4500"
    status="Full"
  ></app-listing-card>

  <app-listing-card
    title="Study Zone Library"
    type="Library"
    [price]="1200"
    status="Open"
  ></app-listing-card>

  <app-listing-card
    title="Green Leaf Mess"
    type="Mess"
    [price]="2800"
    status="Closed"
  ></app-listing-card>
</div> -->
<div class="list-grid">
  <app-listing-card
    *ngFor="let item of listings"
    [listing]="item">
  </app-listing-card>
</div>
