<!-- <h2>Daily Food Menu</h2>

<label>Breakfast</label>
<input [(ngModel)]="todayMenu.breakfast" />

<label>Lunch</label>
<input [(ngModel)]="todayMenu.lunch" />

<label>Dinner</label>
<input [(ngModel)]="todayMenu.dinner" />

<button (click)="saveMenu()">Save Menu</button> -->

<h1>Daily Food Menu</h1>
<label>
    <input type="checkbox" [(ngModel)]="menuEnabled"/>
    Menu Available today
</label>
<hr>
<div *ngIf="menuEnabled; else closed">

    <label>date &nbsp; </label> <br>
    <input type="date" [(ngModel)]="todayMenu.date"/>
   <br>
    <label>Breakfast</label><br>
    <input type="text" [(ngModel)]="todayMenu.breakfast"/>
   <br> <label for="lunch">Lunch</label> <br>
    <input type="text" [(ngModel)]="todayMenu.lunch"/>
   <br> <label for="dinner">Dinner</label><br>
    <input type="text" [(ngModel)]="todayMenu.dinner"/>
<br><button (click)="saveMenu()">save menu</button>
</div>
<ng-template #closed>
    <p style="color: red;">❌ mess is closed for today</p>
</ng-template>