<h2>Owner Dashboard</h2>

<div class="dashboard-cards">
  <div class="dash-card">
    <h3>Total Listings</h3>
    <p>6</p>
  </div>

  <div class="dash-card">
    <h3>Active</h3>
    <p>4</p>
  </div>

  <div class="dash-card">
    <h3>Inactive</h3>
    <p>2</p>
  </div>
</div>

<div class="business-types">
<button (click)="selectType('mess')">mess</button>
<button (click)="selectType('hostel')">hostel</button>
<button (click)="selectType('librory')">librory</button>
</div>
<p>{{selectedType}}</p>