<p>add-listings works!</p>

<form>
    <label>Business Model</label>
    <select [(ngModel)]="listing.type" name="type">
        <option value="mess">Mess</option>
        <option value="hostel">Hostel</option>
        <option value="library">Library</option>
    </select>

    <label>Name</label>
    <input type="text" [(ngModel)]="listing.name" name="name"/>
    <label>City</label>
    <input type="text" [(ngModel)]="listing.city" name="city"/>
     <label>Area</label>
  <input type="text" [(ngModel)]="listing.area" name="area" />
  <label>Upload Images</label>
<input type="file" multiple />

  <button (click)="save()">save</button>
</form>